__pycache__/*.pyc
database.sqlite3
Pipfile.lock
*.png
font/info.txt
font/license.txt
font/Nasa21-l23X.ttf
font/NovaMono.ttf
font/OxygenMono-Regular.ttf
*.TIF
test_database.sqlite3_export_25Feb2025.sql
test_db.sqlite3
log.log
deployment/deployment_files/docker_db_25Feb2025.sqlite3
deployment/deployment_files/docker_fastapi_log.log
*.sqlite3.bak
*.sqlite3.bak*
error_*.txt
.vscode/settings.json
.env
.gitignore
fast_inventory.sqlite3
