[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlmodel = "*"
qrcode = {extras = ["pil"], version = "*"}
python-multipart = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
bcrypt = "==4.0.1"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
