.tag-unselected {
  background-color: rgb(237, 245, 162);
  padding: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  float: left;
  font-size: small;
  max-width: 100px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.tag-selected {
  background-color: rgb(96, 234, 244);
  padding: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  float: left;
  font-size: small;
  max-width: 100px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.tag-unselected-link {
  text-decoration: none;
}

/* .tag-selected::after {
    content: url("https://47d9ff2a-28cb-4d41-9232-c82085911742.mdnplay.dev/shared-assets/images/examples/warning.svg");
    display: inline-block;
    padding-left: 2px;
    width: 12px;
    height: 12px;
} */

.tag-selected-unselect-img {
  width: 12px;
  height: 12px;
}

.tags-holder {
  font-size: 11px;
}
