

.inventory-card {
    width:300px;
    float: left;
}

.inventory-card-title {
    /* width: 210px; */
    /* float: left; */
}

.inventory-card-body {
    clear: both;
}

.inventory-card-img {
    width:50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 3 px;
    float: left;
}

.inventory-card-tag {
    background-color: rgb(242, 242, 229);
    padding: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    float: left;
}

