<div class="row border mb-1">
  <div class="row">
    <div class="col-1 justify-content-center text-center">
    {{#image_rec}}
        <img src="{{BASE_URL}}item_file/{{image_rec.uuid}}" width="70" height="70">
    {{/image_rec}}
    {{^image_rec}}
      <img src="{{BASE_URL}}img/no-photo-svgrepo-com.svg" width="50px" height="50">
    {{/image_rec}}
    </div>  
    <div class="col-10 text-start">
      <h5>{{{item.name}}}</h5>
      <a href="./item.html?itemUUID={{item.uuid}}">Edit</a>
    </div>
    <div class="row text-start">
      <div class="col-1"></div>
      <div class="col-10">
        UUID:{{item.uuid}} 
      </div>
    </div>
    <div class="row text-start">
      <div class="col-1"></div>
      <div class="col-10">
        Description: {{{item.description}}}
      </div>
    </div>
    {{#item.container_uuid}}
    <div class="row text-start">
      <div class="col-1"></div>
      <div class="col-10">
          Container: {{item.container_uuid}} | 
      </div>
    </div>
    {{/item.container_uuid}}
    <div class="row text-start">
      <div class="col-1"></div>
      <div class="col-10">
          Tags: {{#item.tags}} {{tag}}; {{/item.tags}}
      </div>
    </div>
  </div>
    </div>  
  </div>
</div>